 .griting{
    margin-top: 70px;
    margin-left: 25%;
    margin-right:25%;
    padding: 30px;
    text-align: center;
    font-size:40px;
    background-color:rgb(203, 243, 251);
    border-radius: 65px;
  }
  .descript {
    margin-top:2%;
    margin-left: 10%;
    margin-right: 815px;
    border-bottom: 2px solid maroon;
    padding-bottom: 0px;
  }
  .paddi {
    margin-left: 10%;
    margin-top:0%;
    margin-right: 30%;
    line-height: 0px;
  }
  h3{
    margin-top: 50px;
    line-height:20px;
  }